@charset 'utf-8';
/* 기본 *모바일 우선 */

/* 1. mo-nomal */
@media screen and (max-width: 767px) {
  .hero-video-pc{
  display: none;
}
}

/* 2. tablet~ */
@media screen and (min-width: 768px) {
  #rockfish-main {
  padding-top: 0;
}
  /* 브랜드 영역 */
  .brand-container{
    gap: 120px;
  }
  .brand-title img{
    max-width: 600px;
  }
  .brand-intro{
    width: 400px;
  }
  .brand-intro p{
    font-size: 0.9em;
  }
}

/* 3. only tb */
@media screen and (min-width: 768px) and (max-width: 1279px) {}

/* 4. laptop~ 1280~ */
@media screen and (min-width: 1280px) {
  #rockfish-main {
  padding-top: 0;
}
  /* 히어로 영역 */
  .hero-video-mo {
    display: none;
  }

  .hero-video-pc {
    display: block;
    top: 0;
    left: 50%;
    width: 100%;
    max-width: 1920px;
    height: 100%;
    max-height: 1080px;
    transform: translateX(-50%);
    object-fit: cover;
    object-position: center center;
  }

  /* 2. 브랜드 섹션 */
      /* 백그라운드 도형 */
  .circle-text{
    width: 450px;
    height: 450px;
  }
  .diag-1{
    top: 10%;
  }
  .diag-2{
    top: 80%;
  }
    /* 로고+멘트 */
  .brand-container{
    top: 30%;
    flex-direction: row;
    align-items: center;
    max-width: 1100px;
    margin: 0 auto;
    gap: 120px;
    transition: 0.3s;
  }
  .brand-intro {
    width: 900px;
    padding-top: 50px;
  }
  .brand-intro p{
    font-size: 0.9em;
  }

}



/* 5. laptop~ 1921~ */
@media screen and (min-width: 1921px) {}
