@charset 'utf-8';

/* 메인 섹션 공용 */
#rockfish-main {}
.main-section {
  min-height: 100vh;
  border-bottom: 1px solid #000;
}
.main-section h2 {}
.main-container {}

/* 1. 메인 히어로 영역 */
.main-section-hero {
  position: relative;
  width: 100%;
  height: 100vh;
  overflow: hidden;
}
.hero-wrap {
  position: relative;
  width: 100%;
  height: 100%;
}
.hero-container {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.hero-video {
  position: absolute;
  top: 0;
  left: 50%;
  display: block;
  width: 100%;
  max-height: 1080px;
  height: 100%;
  object-fit: cover;
  transform: translateX(-50%);
}
.hero-video-mo {
  display: block;
}
.hero-video-pc {
  display: none;
}

/* 2. 브랜드 소개 영역 */
.main-section-brand{
  position:relative;
  width:100%;
  height: 100vh;
  padding:100px 20px;
  background:var(--primary-color);
  overflow:hidden;
}

/* background */
.brand-bg{
  position:absolute;
  top:0;
  left:0;
  width:100%;
  height:100%;
  z-index: 1;
}

/* circle */
.bg-circle{
  position:absolute;
  width:480px;
  height:480px;
  top:30%;
  left:-220px;
  border:1px solid rgba(255,255,255,.4);
  border-radius:50%;
  transform:translateY(-50%);
  animation:circleRotate 30s linear infinite;
}

.circle-text{
  position: absolute;
  width:300px;
  height:300px; 
}

.circle-text svg{
  width:100%;
  height:100%;
  animation:circleRotate 10s linear infinite;
}

.circle-text text{
  font-size: 12px;
  fill: rgba(255,255,255,.4);
  letter-spacing:3px;
}

/* vertical line */
.bg-line{
  position:absolute;
  width:1px;
  height:60%;
  top:20%;
  right:20px;
  background:rgba(255,255,255,.4);
  transform:scaleY(0);
  transform-origin:top;
  animation:lineDraw 1.5s ease forwards;
}

/* diagonal line */
.bg-deg{
  position:absolute;
  width:1px;
  height: 120vh;
  background: rgba(255,255,255,.4);
  transform-origin:top;
}
  
.diag-1{
  top:3%;
  left:100%;
  transform:rotate(65deg);
  animation: degMove1 5s linear;
}

.diag-2{
  top:90%;
  left: 100%;
  transform:rotate(148deg);
  animation: degMove2 3s linear;
}

/* layout */
.brand-container{
  position:relative;
  gap:80px;
  display:flex;
  align-items: center;
  justify-content: center;
  flex-direction:column;
  top: 10%;
}

/* title */
.brand-title{
  display:flex;
  flex-direction:column;
  align-items:center;
}

.brand-title h3{
  width: 65%;
  align-items: flex-start;
  margin-bottom:10px;
  font-size:1.3em;
  font-weight:lighter;
  color:var(--secondary-color);
}

.brand-title img{
  width:65%;
  min-width:180px;
  max-width:400px;
}

/* text */
.brand-intro{
  width:250px;
  font-family: var(--PTSerif-font);
  color: var(--secondary-color);
}

.brand-intro p{
  margin-bottom:18px;
  font-size:0.8em;
  font-weight: lighter;
  line-height: 2.3;
  opacity:0;
  transform:translateY(40px);
  animation:textUp 2s ease forwards;
}

.brand-intro p:nth-child(1){animation-delay:.5s;}
.brand-intro p:nth-child(2){animation-delay:.7s;}

@keyframes circleRotate{
  0%{transform:translateY(-50%) rotate(0);}
  100%{transform:translateY(-50%) rotate(360deg);}
}

@keyframes lineDraw{
  0%{transform:scaleY(0);}
  100%{transform:scaleY(1);}
}

@keyframes degMove1{
  0%{transform:rotate(65deg) translateY(-100px) scaleY(0);}
  100%{transform:rotate(65deg) translateY(100px) scaleY(1);}
}

@keyframes degMove2{
  0%{transform:rotate(148deg) translateY(-120px) scaleY(0);}
  100%{transform:rotate(148deg) translateY(120px) scaleY(1);}
}

@keyframes textUp{
  0%{opacity:0;transform:translateY(40px);}
  100%{opacity:1;transform:translateY(0);}
}

/* 3. 컬렉션 영역 */
.main-section-collection {
  padding: var(--spacing-xs) 0;
}
.collection-wrap {}
.collection-container {
  position: relative;
  width: 100%;
  height: calc(100vh - 200px);
}

.collection-container-wrap {
}
/* 제품 이름 */
.item-name {
  padding: 12px;
}
.item-name li {
  line-height: 2em;
  font-size: 1.1em;
  color: var(--gray-font-color);
}
.item-name li:first-child {
  color: var(--primary-color);
  font-weight: bold;
}

/* 제품 이미지 */
.item-img {
  position: relative;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  width: 100%;
  max-width: 100px;
}
.item-img li {
  display: none;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  height: auto;
}
.item-img li:nth-child(1) {
  display: block;
}

.item-img img {
  display: block;
  width: 100%;
  margin:  0 auto;
}

/* 제품 상세이름+설명 */
.item-desc-group {
  position: absolute;
  right: 0;
  bottom: 0;
  width: 100%;
  text-align: end;
}
.desc-box {
  display: none;
  position: absolute;
  right: 0;
  bottom: 0;
  width: 70%;
  padding-right: 12px;
  text-align: end;
}
.desc-box1 {display: block;}
.desc-box h3 {font-size: 1em;}
.desc-box p {
  width: 100%;
  height: 105px;
  font-size: 0.8em;
  color: var(--gray-font-color);
}

/* 뷰모어버튼 */
.btn-more {
  position: absolute;
  left: 0;
  bottom: -20px;
  width: 100%;

  display: flex;
  justify-content: center;
  align-items: center;
}
.btn-view-more {
  color: var(--gray-font-color);
}
.btn-view-more:after {
  content: '\e89e';
  font-family: var(--google-icon);
  display: inline-block;
  vertical-align: middle;
}


/* 4. 추천 스타일 영역 */
.main-section-recommend {
  padding: var(--spacing-m) 0;
}
.recommend-wrap {}
.recommend-container {}

/* 5. 국내외 스토어 영역 */
.main-section-store {
  padding: var(--spacing-m) 0;

}
.store-wrap {}
.store-container {}


/* 6. 고객 후기 영역 */
.main-section-realmoments {
  padding: var(--spacing-m) 0;
}
.realmoments-wrap {}
.realmoments-container {}