@charset 'utf-8';
/* =============== 변수 ============== */
:root {
  --header-height: 64px;
  --header-font-size: 13px;
}
.sub-hd * {
  border: 1px solid red;
}
.sub-hd {
  margin : var(--header-height) auto 0;
}
.rf-lnb-list {
  display: none;
}
.rf-lnb-depth1 > a {
  display: none;
}
.sub-hd-lnb > h2 {
  margin : 1rem auto 0;
  width: 300px;
  height: 200px;
}
.sub-hd-bg1 {
  background : url('../images/sub/sub_header/sub_header_1.webp') center center /contain  no-repeat ;  
}
.sub-hd-bg2 {
  background : url('../images/sub/sub_header/sub_header_2.webp') center center /contain  no-repeat ;
}