@charset "utf-8";
/* 기본 *모바일 우선 */

/* 1. mo-nomal */
@media screen and (max-width: 767px) {

  .rf-lnb-depth2 {
    display: none; 
    justify-content: left;
    align-items: center; 
    gap: 2em;
  }
  .new-card-list .card-item:nth-child(n+7) {
      display: none;
  }
}

/* 2. tablet~ */
@media screen and (min-width: 768px) {
  .sub-hd {
    margin: calc(var(--header-height) + 3rem) auto 0;
  }
  .sub-hd-bg {
    width: 700px;
    max-width: 900px;
    height: 400px;
    max-height: 900px;
  }

  .rf-lnb-depth1:-webkit-scrollbar {
    display: none;
  }
  .rf-lnb-depth1 {
    padding-top: var(--spacing-m);
  }
  .new-card-list {
    gap: 1em;
  }
  .new-card-list .card-item {
    min-width: 200px;
    max-width: 240px;
  }
  .card-info {
    font-size: 0.6rem;
  }
  .card-price {
    font-size: 0.8rem;
  }
  .card-like {
    width: 24px;
    height: 24px;
  }
}

/* 4. laptop~ 1280~ */
@media screen and (min-width: 1280px) {
  .sub-wrap {
    padding: 0 var(--spacing-l);
  }
  .sub-hd {
    margin : calc(var(--header-height) + 3rem) auto 0;
  }
  .sub-hd-bg {
    width: 1000px;
    max-width: inherit;
    height: 600px;
    max-height: inherit;
  }
  .rf-lnb-depth1 {  
    font-size: 1.2em;
    padding-top: var(--spacing-m);
  }

  #rf-sub-main h2 {
    padding: 1em 0;
  }
  .new-card-list {
    margin: 0 auto;
    max-width: 1440px;
    /* gap: 1em; */
  }
  .card-info {
    font-size: 0.8rem;
  }
  .card-price {
    font-size: 0.9rem;
  }
  .card-like {
    width: 24px;
    height: 24px;
  }
}

/* 5. laptop~ 1921~ */
@media screen and (min-width: 1921px) {}
