@charset 'utf-8';
/* 기본 *모바일 우선 */

/* 1. mo-nomal */
@media screen and (max-width: 767px) {
  .sub-hd-bg {
    border-radius: 5%;
    width: 90vw;
    height: 90vw;
  }
  .rf-lnb-depth2 {
    display: none; 
    justify-content: left;
    align-items: center; 
    gap: 2em;
  }
  .new-card-list .card-item:nth-child(n+7) {
      display: none;
  }
}

/* 2. tablet~ */
@media screen and (min-width: 768px) {
  .rf-lnb-depth1:-webkit-scrollbar {
    display: none;
  }
}

/* 3-1. max tb */
@media screen and (min-width: 840px) {
}

/* 3. only tb */
@media screen and (min-width: 768px) and (max-width: 1279px) {}

/* 4. laptop~ 1280~ */
@media screen and (min-width: 1280px) {
  .sub-wrap {
    padding: 0 var(--spacing-l);
  }
  .sub-hd {
    margin : calc(var(--header-height) + 3rem) auto 0;
  }
  .sub-hd-bg {
    width: 100vw;
    height:80vh;
  }
  .rf-lnb-depth1 {  
    font-size: 1.2em;
  }

  #rf-sub-main h2 {
    padding: 1em 0;
  }
  .new-card-list {
    margin: 0 auto;
    max-width: 1620px;
    gap: 2em;
  }
  .new-card-list .card-item {
      min-width: 190px;
      max-width: 240px;
      width: 100%;
  }
  .new-card-list .card-item:nth-child(n+13) {
      display: none;
  }
  
}

/* 5. laptop~ 1921~ */
@media screen and (min-width: 1921px) {}
