@charset 'utf-8';
@import url('webfonts.css');
/* 변수 */
:root {
  --primary-font: 'PT Serif', 'Pretendard Variable', sans-serif;
  --secondary-font: 'Pretendard Variable', sans-serif;
  --PTSerif-font: 'PT Serif','Nanum Myeongjo', serif;
  --primary-color: #142A74;
  --secondary-color: #F2F4F7;
  --primary-font-color: #142A74;
  --secondary-font-color: #F2F4F7;
  --gray-font-color: #B9B9B9;
  --point-color:#F6DFEA;
  --google-icon: 'Material Symbols Rounded';
}

/* 초기화 */
* { padding: 0; margin: 0; box-sizing: border-box; }
*:before, *:after{ box-sizing: border-box; }
html {
  scroll-behavior: smooth;  
  font-size: 16pt;
}
body { /*배경색, 글자(사이즈, 색상,글꼴,줄간격) */
  font-size: 16px;
  font-family: var(--primary-font);
  color: var(--primary-font-color);
  line-height: 1.6;
  background-color: var(--secondary-color);
  word-break: keep-all; 
}
ol, ul, li {
  list-style-type: none;
}
a {
  color: #000;
  text-decoration: none;
}
img, video, iframe {
  vertical-align: middle;
}
table {
  width: 100%;
  border-collapse: collapse;
}
input, select, textarea, button {
  border: 0;
  font-size: 1em;
  background-color: transparent;
  font-family: var(--primary-font);
}

/* 공용디자인 & 공용클래스 */
.wrap {
  max-width: 1900px;
  padding: 0 8px;
  margin: auto;
}
.blind {
  position: absolute; 
  left: -9999em;
}
.clearfix:after {
  /* 1번 솔루션 = overflow: auto; 
    > 플롯으로 가로 나열한 자식을 가진 부모영역에서는 얘가 자식을 알아서 찾음 높이 문제 해결! / 클리어픽스 필요 없음/ but 익스플로러 낮은 버전에선 활성화가 안됨 */
  /* 2번 솔루션= */
  content: '';
  display: block;
  clear: both; /* 양 옆에 아무도 없게끔 너 혼자 맨 끝으로 자리 잡아라 */
  /* 가로나열을 플롯(float)으로 하는경우 부모의 높이가 제로가 됨 
  그래서 가상 요소인 after를 만들어서 맨끝에 생성하고 높이를 잡을수 있게 해줌 */
  /*플룻 문법 부모와 절대 섞이지 않음 부모가 막내를 만들어서 형들과 안붙을거야 난 내려갈게 3개가 세트세트 > 이제는 플렉스로 사용됨 (플렉스는 7-8년전)*/
} 
.wh, .wh a {
  color: #fff;
}
.bk, .bk a {
  color: #000;
}
.primary, .primary a {
  color: var(--primary-color);
}
.second, .second a {
  color: var(--secondary-color);
}

/* 헤더 */
#rockfish-hd {
  background-color: var(--primary-color);
}
.hd-container {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 24px 0;
}
.logo {
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
}
.logo a {}
.logo img {
  width: 6em;
}
#rockfish-gnb {}
.rockfish-gnb {
  display: flex;
}
.rf-depth1 {
  position: relative;
}
.rf-depth1 > a {
  padding: 1em 3em;
  font-size: 1.2em;
}
.rf-depth2 {
  display: flex;
  position: absolute;
  left: 50%;
  top: 40px;
  width: 200px;
  padding: 24px;
  background-color: var(--primary-color);
  font-size: 1.2em;
  transform: translateX(-50%);
}
.rf-depth2 li {}
.rf-depth2 a {}
.util-menu {
  display: flex;
  position: absolute;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
  gap: 1em;
}
.util-menu-wrap {
  display: flex;
  gap: 1em;
  padding: 0 2em;
}
.util-menu button {
  display: none;
}
.util-menu-wrap li {}

/* 면접 단골질문 > 플렉스와 플롯 */
/* overflow: auto; / 플롯으로 가로 나열한 자식을 가진 부모영역에서는 얘가 자식을 알아서 찾음 높이 문제 해결! / 클리어픽스 필요 없음/ but 익스플로러 낮은 버전에선 활성화가 안됨 */

/* 푸터 */